body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: black;
    color:white;
}

.homeimg{
    margin-top: -40px;
}

.page-header{
    padding: 60px;
    color:white;
    text-align: center;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../image/home_.jpg);
    background-size: cover;
    height: 600px;
}
.page-header h1{
    font-weight: 300;
    height: auto;
    
}
.page-header .life{
    color:orange;
    font-weight: 300;
    
}
.page-header span{
    font-weight: 100;
    font-size: 36px;
}

.parallax{
    padding: 60px;
    color:white;
    text-align: center;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 400px;
}

.feature{
    padding: 80px 30px;
    font-family: "Open Sans", sans-serif;
}

.feature .featureHeading{
    font-weight: 500;
    font-size: 28px;
}

.feature .featureSText{
    font-weight: 200;
    font-size: 16px;
    width: auto;
    height: auto;    
}

.calendar{
    padding: 60px;
    color:white;
    text-align: center;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.calendar h2{
    
    height: auto;
    
    font-family: "Open Sans", sans-serif;
}

.footer{
    font-family: "Open Sans", sans-serif;
    padding: 60px;
    color:white;
    text-align: center;
    position: relative;
}

.booknow{
    color:black;
    text-align: center;
}